* {
    font-family: 'Ubuntu', sans-serif;
    padding: 0%;
    margin: 0%;
}

header {
    background-color: gold;
    height: 45px;
    display: flex;
    justify-content: space-between;
}

.header-left ul,
.header-right ul,
nav ul {
    display: flex;
    justify-content: space-around;
}

.header-left li,
.header-right li,
nav li {
    list-style: none;
    padding: 7px 12px;
    margin-top: 5px;
}

.header-left li a:hover {
    color: white;
    text-shadow: 1px 2px black;
}

.header-left a,
.header-right a,
nav a {
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    color: rgb(36, 35, 35);
}

.header-right li:nth-child(1) {
    background-color: white;
    border-radius: 10px;
}

.logo-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid grey;
    height: 80px;
    margin-bottom: 30px;
}

.logo {
    width: 30%;
    display: flex;

}

.logo img {
    height: 70px;
    padding-left: 10px;
}

.logo h2 {
    padding: 10px 0 0 10px;
    font-size: 40px;

}

.text {
    background: linear-gradient(rgb(230, 9, 152) 50%, blue) 50%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


nav {
    width: 70%;
}

.all-option {

    height: 660px;
    margin-top: 20px;
    border-bottom: 1px solid grey;
}


.option-middle,
.option-up,
.option-down {
    display: flex;
    text-align: center;



}

.option-up {
    margin-top: 30px;



}

.option {

    height: 90px;
    width: 290px;
    margin: 40px 40px 0 60px;
    border-radius: 15px;
    padding: 60px 0 0 0;
    box-shadow: 2px 1px 9px black;
    font-family: 'Ubuntu', sans-serif;


}

.option a {
    text-decoration: none;
    color: rgb(243, 246, 248);
    font-size: 35px;
    font-weight: bolder;

}



#op-one {
    background-color: rgb(8, 101, 8);
}

#op-two {
    background-color: rgb(7, 7, 127);
}

#op-three {
    background-color: crimson;
}

#op-four {
    background-color: chocolate;
}

#op-nine {
    background-color: deeppink;
}

#op-five {
    background-color: rgb(180, 5, 186);
}

#op-six {
    background-color: rgb(234, 200, 7);
}

#op-seven {
    background-color: rgb(130, 8, 182);
}

#op-eight {
    background-color: darkred;
}





.link-area {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;


}



.part-2 li,
.part-3 li,
.part-4 li {
    list-style: none;
}

.part-2 a,
.part-3 a,
.part-4 a {
    text-decoration: none;
    color: black;
}

.part-2 a:hover {
    color: rgb(238, 177, 24);
}

.part-3 a:hover {
    color: rgb(238, 177, 24);
}

.part-4 a:hover {
    color: rgb(238, 177, 24);
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    height: 70px;
    border-top: 1px solid grey;
}

.footer-middle ul {
    display: flex;

}

.footer-middle li {
    list-style: none;

}

.footer-middle a {
    text-decoration: none;
    padding-left: 15px;
    font-size: 20px;
    color: black;
}

footer li :hover {
    color: rgb(238, 177, 24);
}

.fa-brands {
    padding-left: 10px;

}

.fa-facebook {
    color: rgb(6, 6, 128);
}

.fa-twitter {
    color: rgb(85, 120, 245);
}

.fa-youtube {
    color: red;
}

.fa-instagram {
    color: deeppink;
}