nav {
    background-color: crimson;
    height: 90px;
    width: 70%;
}

nav ul {
    padding-top: 15px;
    display: flex;

}

nav li {
    margin-left: 20px;
    padding: 15px;
    list-style: none;

}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(16, 213, 181);
    padding: 15px;

}

nav li :hover {
    background-color: rgb(97, 247, 97);
    color: black;
    font-size: 23px;

}